fastapi
uvicorn
python-dotenv
ollama
google-generativeai
langchain
langchain-community
chromadb
sentence-transformers
pypdf
arxiv
httpx
langchain-experimental
google-search-results
newsapi-python
langchain-community
networkx